.manage-users__mainContainer {
    .manage-users__title {
        margin-bottom: 2rem;
    }
    .manage-users__addBtn {
        bottom: 36px;
        right: 36px;
        position: fixed;
        .manage-users__addIcon {
            margin-left: 7px;
        }
    }
}
