.bread-crumbs__iconSpan {
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bread-crumbs__link {
    display: flex;
    justify-content: center;
    align-items: center;
}
