.customFooterContainer {
    border-top: unset !important;
}

.attendance-table__grid {
    border: none !important;
    .MuiTablePagination-spacer {
        display: none;
    }
    .MuiTablePagination-displayedRows {
        display: none;
    }
    .MuiTablePagination-toolbar {
        justify-content: center;
    }
    .MuiPaginationItem-circular {
        border-radius: 4px;
    }
    .MuiDataGrid-columnHeaderTitle {
        font-weight: 600;
    }
}

.attendance-table__leaveBtn {
    bottom: 36px;
    right: 36px;
    height: 40px;
    position: fixed !important;
    border-radius: 100px !important;
}
