.login-form__mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form__boxContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.login-form__formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
